body{
    background-color: rgb(19, 20, 20);
    padding: 0px;
    display: flex;
    /* justify-content: center; */
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
   
}



#wrapper{
    /* border: 1px solid white; */
    display: grid;
    padding: 0px;
    width: 100vw;
    grid-template-areas:
    "header header header"
    "sec1 sec1 sec1"
    "sec2 sec2 sec2"
    ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px 28% auto;
    margin: auto;
    

}

#sec1{
    grid-area: sec1;
    background-image: url(../img/bilder\ Index/header_logga.png);
    background-size: cover;
}
#sec2{
    grid-area: sec2;
    display: flex;
    align-items: flex-end;
    /* border: 1px solid white; */
}

header{
    grid-area: header;
    display: flex;
    flex-direction: column;
    padding: 0;
    align-items: center;
    justify-content:space-between;
}

#meny{
    height: 50px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logga{
    height: 80px;
    width: 330px;
    background-image:url(../img/bilder\ Index/logga_big.png);
    background-size: cover;
}
 .meny-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    font-size: 15px;
    letter-spacing: 2.5px;
    transition-duration: 0.5s;
 }

 .meny-text:hover{
    transform: scale(1.05);
    color: rgb(255, 72, 72);
 }

 #sok_ham{
    height: 35px;
    width: 60px;
    transition-duration: 1s;
    display: flex;
    justify-content: space-between;
 }

 #sok:hover{
    transform: scale(1.1);
 }

 #sok{
    background-image: url(../img/bilder\ Index/sok-logga.png);
    background-size: contain;
    height: 27px;
    width: 27px;
    transition-duration: 0.5s;
    
 }
  #ham{
    background-image: url(../img/bilder\ Index/ham.png);
    background-size: contain;
    height: 27px;
    width: 27px;
    transition-duration: 0.5s;
  }

  #ham:hover{
    transform: scale(1.1);
 }

#header_line{
    width: 100%;
    position: absolute;
    margin-top: 97px;
    opacity: 20%;
}

#sec1_button{
    width: 200px;
    height: 50px;
    position: relative;
    background-color: black;
    border-radius: 10px;
    margin-top: 17%;
    margin-left: 30%;
    transition-duration: 0.5s;
}

#sec1_button:hover{
    transform: scale(1.05);
} 

#flex{
    display: flex;
    /*border: 1px solid white;*/
    width: 900px;
    justify-content: center;
    position: relative;
    top: 20px;
    flex-direction: column;
    justify-content: flex-start;
    margin: auto;
  
}

#row_1{
    display: flex;
    height: 200px;
    width: 100%;
    /*border: 1px solid white;*/
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

#row_2{
    /*border: 1px solid white;*/
    display: flex;
    height: 50px;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

#flex_1{
    
    height: 200px;
    width : 200px;
    background-image: url(../img/bilder\ Index/new_arrivals.png);
    background-size: contain;
}

#flex_2{
 
    height: 200px;
    width : 200px;
    background-image: url(../img/bilder\ Index/records.png);
    background-size: contain;
}

#flex_3{
    
    height: 200px;
    width : 200px;
    background-image: url(../img/bilder\ Index/guitars.png);
    background-size: contain;
}

#flex_4{
   
    height: 200px;
    width : 200px;
    background-image: url(../img/bilder\ Index/sale.png);
    background-size: contain;
}

.hover_effect{
    transition-duration: 0.7s;
}

.hover_effect:hover{
    transform: scale(1.1);
}



.flex_2-line{
    width: 36%;
    height: 0px;
    margin-top: 25px;
}

.rubrik1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    font-size: 20px;
    letter-spacing: 2.5px;
    
}

#row_3{
    height: 250px;
    width: 100%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#flex_5{
    /* border: 1px solid white; */
    height: 310px;
    width : 170px;
    background-image: url(../img/bilder\ Index/ukelele.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

#flex_6{
    /* border: 1px solid white; */
    height: 320px;
    width : 170px;
    background-image: url(../img/bilder\ Index/ukelele.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

#flex_7{
    /* border: 1px solid white; */
    height: 310px;
    width : 170px;
    background-image: url(../img/bilder\ Index/elgitarr.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

#flex_8{
    /* border: 1px solid white; */
    height: 310px;
    width : 170px;
    background-image: url(../img/bilder\ Index/ukelele.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}


.body-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    font-size: 15px;
    letter-spacing: 2.5px;
}

#row_4{
    height: 90px;
    width: 100%;
    /* border: 1px solid white; */
    position: relative;
    top: 80px;
    text-align: center;
    
}

.small-text{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    font-size: 13px;
    letter-spacing: 1.5px;
    line-height: 17px;
}

#row_5{
    /* border: 1px solid white; */
    height: 200px;
    width: 100%;
    position: relative;
    top: 113px;
    background-image: url(../img/bilder\ Index/psa.png);
    background-size: cover;
}

.invis{
    font-family:Georgia, 'Times New Roman', Times, serif;
    color:aliceblue;
    font-size: 15px;
    letter-spacing: 2.5px;
    transition-duration: 0.5s;
 }

 .invis:hover{
    transform: scale(1.05);
    color: rgb(255, 72, 72);
 }



@media screen and (max-width: 500px){
    
    #wrapper{
        overflow: hidden;
    }

    #meny.active{
        height: 50px;
        width: 100%;
        align-items: center;
        overflow: visible;
        display: flex;
        justify-content: space-around;
        transition-duration: 0.2s;
    }

    #meny{
        width: 100px;
        overflow: hidden;
        transition-duration: 0.2s;
        margin: 0;
    }

    .invis{
        display: none;
        transition-duration: 0.2s;
    }

    #meny.active .invis{
        font-family:Georgia, 'Times New Roman', Times, serif;
        color:aliceblue;
        font-size: 12px;
        letter-spacing: 2.5px;
        display: contents;
        margin:0px;
        transition-duration: 0.2s;
    }

    #sok {
        background-image: url(../img/bilder\ Index/sok-logga.png);
        background-size: contain;
        height: 27px;
        width: 27px;
        transition-duration: 0.5s;
        background-repeat: no-repeat;
    }

    #sok.active {
        display: none;
        transition-duration: 0.2s;
    }
           
    #sok_ham{
        height: 35px;
        width: 50px;
        transition-duration: 1s;
        display: flex;
        justify-content: space-around;
        margin: 0px;
        background-repeat: no-repeat;
     }

     
      #ham{
        background-image: url(../img/bilder\ Index/ham.png);
        background-size: contain;
        height: 27px;
        width: 27px;
        transition-duration: 0.5s;
        background-repeat: no-repeat;
      }
}